.header {
  margin: 50px auto;

  &__title {
    font-size: 48px;
    text-transform: uppercase;
    color: #2f2f2f;
    font-weight: 300;
  }
}

.form {
  display: flex;
  position: relative;
  height: 64px;

  &__input {
    width: 420px;
    padding-left: 40px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
  }

  &__input-icon {
    position: absolute;
    color: #9fa0a2;
    font-size: 24px;
    font-weight: 100;
    top: calc(50% - 12px);
    left: 10px;
  }

  &__search-btn {
    border: none;
    width: 150px;
    background-color: #20b7ee;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    border-top-right-radius: 80px;
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
    outline: none;
  }
}